div {
    height: 100px;
    width: 100px;
    background-color: yellow;
    display: inline-block;
    border: 2px solid black;
}

#box1 {
    position: relative;
    top: 250px;
    right: 250px;
    bottom: 250px;
    left: 250px;

}
#box2 {
    position: relative;
    top: 250px;
    right: 250px;
    bottom: 250px;
    left: 250px;

}
